.p1 {
    background-color: pink;
    color: blue;
    font-family: 'Serif';
    font-size: 12pt;
}

.p2 {
    background-color: green;
    color: white;
    font-family: 'Fantasy';
    font-size: 14pt;
}